<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{url_for('static',filename='forgotpassword.css')}}">
</head>
<body>
    <div class="container">
        <div class="left-side">
            <img src="{{url_for('static',filename='image/1.png')}}" alt="Forgot Password Image">
        </div>
        <div class="right-side">
            <div class="forgot-password-container">
                <h1>Forgot Password</h1>
                <p>Please enter your email to reset your password:</p>
                <form action="{{url_for('forgotpassword')}}" method="POST">
                    <div class="input-container">
                        <input type="email" name="email" placeholder="Email Address" required>
                    </div>
                    <button type="submit">Enter</button>
                    <button type="reset" class="cancel-button">Cancel</button>
                </form>
                <div class="back-to-login">
                    <p>Remembered your password? <a href="{{url_for('login')}}">Back to Login</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
