<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Login Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
   
</head>
<body>
    <div class="container">
        <div class="left-side">
            <img src="{{url_for('static',filename='image/1.png')}}" alt="Background Image">
            <div class="overlay">
                <div class="overlay-text">
                    WELCOME TO ADDIS CHERETA!<br>SIGN IN TO GET STARTED
                </div>
            </div>
        </div>
        <div class="right-side">
            <div class="login-container">
                <h1>ADDIS<span>CHERETA</span></h1> 
                <h2>Sign In</h2>
                <div class="info"> 
                    <p><strong>ENTER YOUR:</strong> <strong>Email</strong> <strong>Password</strong></p>
                </div>
                <form action="{{url_for('login')}}" method="POST">
                    <div class="input-container">
                        <input type="email" name="email" placeholder="Email" required>
                    </div>
                    <div class="input-container">
                        <input type="password" name="password" placeholder="Password" required>
                    </div>
                    <button type="submit">SIGN IN</button>
                    <div class="options">
                        <label><input type="checkbox"> Remember</label>
                        
                        <a href="{{url_for('forgotpassword')}}">Forgot password?</a>
                    </div>
                </form>
                <div class="social-buttons">
                    <!-- <button class="" href="./regsister.html" type="Sign up">Sign up</button> -->
                    <a class="Signup" href="{{url_for('regsister')}}">Sign up</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
